/***********************
Own styling begins here:
***********************/

/*
Dummy values
Delete this section!
*/

footer {
	background-color: #aaaaaa;
}

.current-menu-item, .current-page-ancestor {
	background-color: #aaaaaa; /* Background colors for active links (WP classes) */
}

/*******
General:
*******/
ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

p {
	text-align: justify;
}

/******
Header:
******/

/**********
Navigation:
**********/

/*******
Sidebar:
*******/

/*******
Content:
*******/

/******
Footer:
******/
footer {
	width: 100%;
}