* {
	margin: 0;
}
html, body {
	height: 100%;
}
#wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -5.4em; /* the bottom margin is the negative value of the footer's height */
}
footer, #push {
	clear: both;
	height: 4em; /* #push must be the same height as footer */
}

/*
The above code is 'Sticky Footer' by Ryan Fait
http://ryanfait.com/
*/

/***********************
Own styling begins here:
***********************/

footer {
	background-color: #aaaaaa;
}

.current-menu-item, .current-page-ancestor {
	background-color: #aaaaaa;
}

