/******************************************
'Sticky Footer' by Ryan Fait
Sticks the footer to the bottom, if there's 
not enough content to fill out the page.
http://ryanfait.com/
******************************************/

#wrapper {
	display: block;
	min-height: 100%;
}
#push {
	display: none;
}
footer {
	width: 100%;
}

/***********************
Own styling begins here:
***********************/

/*
Dummy values
Delete this section!
*/

footer {
	background-color: #aaaaaa;
}

.current-menu-item, .current-page-ancestor {
	background-color: #aaaaaa; /* Background colors for active links (WP classes) */
}

/*******
General:
*******/

/******
Header:
******/

/**********
Navigation:
**********/

/*******
Sidebar:
*******/

/*******
Content:
*******/

/******
Footer:
******/